body{
    font-family:'Lato', sans-serif;
    margin: 0;
    background-color: #d6e4f2;
}
.intro-title{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Banner Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1320px;
    height: 600px;
    margin: 30px auto;
    padding-top: 25px;
    text-align: center;
    border-radius: 20px;
    
} 
.banner-sub{
    font-size: 40px;
    color: white;
    font-weight: 400px;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner-main{
    font-size: 90px;
    color: white;
    font-weight: 1000px;
    margin: 0;
    padding-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.offer-heading{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 96px;
    font-weight: 700;
}
.offer-para{
    padding-top: 0;
    margin-top: 10px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 5px;
}
.offer-heading2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 53px;
    font-weight: 900;
    margin-top: 10px;
    padding-top: 0;
}
.offer-image{
    width: 820px;
    height: 510px;
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
