body{
    font-family:'Lato', sans-serif;
    margin: 0;
    background-color: #d6e4f2;
}
.hover{
    color: white;
    transition: background-color 0.3s;
}
.intro-title{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Banner Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    height: 600px;
    margin: 30px auto;
    padding-top: 25px;
    text-align: center;
    border-radius: 20px;
    
} 
.banner-sub{
    font-size: 37px;
    color: white;
    font-weight: 100px;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner-main{
    font-size: 90px;
    color: white;
    font-weight: 1000px;
    margin: 0;
    padding-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.offer-heading{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 96px;
    font-weight: 700;
}
.offer-para{
    padding-top: 0;
    margin-top: 10px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 5px;
}
.offer-heading2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 53px;
    font-weight: 900;
    margin-top: 10px;
    padding-top: 0;
}
.offer-image{
    width: 820px;
    height: 510px;
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.midnight-party{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Vectorrr.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1320px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    margin-top: 70px;
}
.mid-text{
    color: #FFF;
    font-family: Merriweather;
    font-size: 80px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-top: 15px;
    margin-left: 115px;
}
.mid-para{
    color: #FFF;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 50;
    /* letter-spacing: 7.04px; */
    margin-top: -30px;
    margin-left: 115px;
    margin-bottom: 40px;
}
.mid-btn{
    size: 30px;
    font-size: 20px;
    font-weight: 650;
    margin-left: 250px;
    margin-top: 2px;
    color: #FFF;
    text-decoration: none;
}
.mid-extraimage{
    width: 300px;
    height: 450px;
    margin-right: 150px;
}
.mid-partyinfo{
    display: flex;
    justify-content: space-between;
}
.mid-container{
    margin-top: 30px;
}
.event-para{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding-top: 88px;
}
.para1,.para2,.para3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}
.event-info{
    border: 5px solid;
    border-style: none;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 115px auto;
    border-radius: 10px;
    height: 444px;
    width: 100%;
    max-width: 1320px;

}
.event-btn{
    color: #FFF;
    border: none;
    font-weight: 700;
    font-size: 17px;
    background-color: #F00;
    padding: 16px 32px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.event-align1{
    align-items: center;
}
.btn1{
    text-align: center;
    margin-top: 60px;
}
.soon-mini{
    color: #F00;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    /* margin-bottom: 8px; */
    padding: 16px 0 0 0;
}
.soon-main{
    font-size: 46px;
    font-weight: 900;
    font-family: sans-serif;
    margin-top:-25px;
    /* padding: 16px 0 0 0; */
}
.soon-para{
    color: rgba(7, 2, 17, 0.60);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: -25px;
}
.holiday-pic{
    height: 365px;
    width: 365px;
    border: 16px solid #F00;
    padding: 22px;
    border-radius: 50%;

}
.year2024{
    color: #F00;
    font-size: 50px;
    font-weight: 700;
}
.para2024{
    color: rgba(7, 2, 17, 0.60);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: -22px;
}
.img2024{
    height: 120px;
    width: 120px;
    border-top: 4px;
    padding-top: 44px;
}
.holiday-soon{
    padding-right: 30px;
}
.holiday-2024{
    padding-left: 120px;
    /* padding-right: 30px; */
}
.holiday-container{
    display: flex;
}
.holiday-sale{
    margin: 140px auto;
    width: 100%;
    max-width: 1320px;
}
.sale-mini{
    font-size: 24px;
    font-family:sans-serif;
    font-weight: 600;
    padding-top: 20px;
}
.sale-main{
    font-size: 74px;
    font-family:sans-serif;
    font-weight: 900;
    font-stretch: normal;
}
.sale-para{
    color: rgba(7, 2, 17, 0.60);
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 0px;
}

.discount{
    width: 262px;
    height: 260px;
    padding: 170px 0 0 130px;
}
.giftbox{
    height: 520px;
    padding-top: 150px;
}
.sale-img{
    display: flex;
}

.sale-info ,.sale-main,.sale-mini,.sale-para{
    text-align: center;
    margin-top: 0;
    margin: 18px;
}
.sale-container{
    background-image: url('../images/Rectangle\ 2.png'),url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: absolute;
    background-position: bottom,894px 350px;
    margin-bottom: 00px;
    opacity: 90%;
}
.port-img{
    width: 415px;
    height: 430px;
    border-radius: 15px;
    display: flex;
}
.portfolio{
    margin: 140px auto;
    width: 100%;
    max-width: 1320px;
}
.port-mini{
    font-size: 24px;
    font-family:sans-serif;
    font-weight: 600;
    padding-top: 20px;
    color: #F00;
}
.port-main{
    font-size: 74px;
    font-family:sans-serif;
    font-weight: 900;
}
.port-para{
    color: rgba(7, 2, 17, 0.60);
    font-family:sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 35px;
}
.port-main,.port-mini,.port-para{
    margin: 18px;
    margin-left: 0;
}
.img1{
    margin: 10px;
    margin-left: 0;
}
.img2{
    margin: 10px 10px 10px 0;
}
.img3{
    margin: 10px 0 10px 0;
}
.img4{
    margin: 0 10px 0 0;
}
.img5{
    margin-right: 10px;
}
.img6{
    margin: 0;
}
.portfolio .img1 .img2 .img3 .img4 .img5 .img6{
    width: 424px;
    height: 450px;
}
.subscribe-sec{
    border: 5px solid;
    border-style: none;
    background:rgba(255, 0, 0, 0.05);
    margin: 115px auto;
    border-radius: 15px;
    height: 520px;
    width: 100%;
    max-width: 1320px;
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.email-set{
    width: 300px;
    height: 52px;
    border-right: 0;
    border-radius: 50px 0 0 50px;
    font-size: 15px;
    font-weight: 400px;
    border-style: none;
    
}
.subscribe-btn{
    width: 140px;
    color: #FFF;
    background: #F00;
    font-size: 17px;
    border-radius: 0 50px 50px 0;
    border-style: none;
}
.last-img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
}
.last-main{
    font-size: 46px;
    font-weight: 900;
}
.last-para{
    color: rgba(7, 2, 17, 0.60);
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 35px;
}
.last-main,.last-img,.last-para{
    margin: 18px;
    margin-left: 0;
}
footer{
    background: #070211;
    height: 470px;
    font-size: 18px;
    color: #FFF;
}
.footer-info{
    border: 5px solid;
    border-style: none;
    margin: 135px auto;
    border-radius: 15px;
    width: 100%;
    max-width: 1320px;
}
.contacts{
    padding-top: 80px;
    line-height: 30px;
}
.phn{
    display: flex;
    /* justify-content: right; */
}
.web{
    display: flex;
}
.web img{
    display: flex;
}
.contacts{
    display: flex;
    justify-content: space-between;
}
hr {
    border: none; 
    border-top: 1px solid #585858; 
}
.social{
    display: flex;
    justify-content: center ;
    margin: 18px;
    margin-left: 0;
}
.unsub{
    background: none;
    color: #FFF;
    border: none;
}
.final{
    display: flex;
    justify-content: space-between;
}

  